.perfil {
  width: 100%;
  min-width: 320px;
  max-width: var(--container-lg);
  margin: 1rem auto;
}

.perfil__title-me {
  font-size: 4.2rem;
  color: var(--text-color);
  padding: 2rem;
}

body.dark .perfil__title-me {
  color: var(--text-color-night);
}

.perfil__description-me {
  width: 90%;
  margin: 0 auto;

}

.perfil__text-me {
  font-size: 2rem;
  line-height: 2.8rem;
  padding: 2rem;
  margin: 1rem 0;
}

/* Tecnologias */
.perfil__icons__figure--svg {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

body.dark .perfil__icons__figure--svg:nth-child(8) {
background-color: white;
border-radius: 1rem;
}

.perfil__icons__figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}