/* Ultimos Proyectos */
.last-proyects {
  width: 100%;
  min-width: 320px;
  max-width: 90%;
  margin: 5rem auto;
  
}

.last-proyects__primary-title {
  font-size: 4.2rem;
  color: var(--text-color);
  padding: 2rem;
  margin: 2rem 0;
}

body.dark .last-proyects__primary-title {
  color: var(--text-color-night);
}

.last-proyects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 5rem auto;
}

body.dark .last-proyects-container {
  color: var(--text-color);
}

.last-proyects-container-fluid {
  width: 100%;
  flex: 1 1 200px;
  margin: 1rem auto;
  padding: 2rem;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}

.last-proyects-container-fluid__title {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 2.5rem;

}

.last-proyects-container-fluid__description {
  font-size: 2rem;
  color: var(--size-400);
  line-height: 3rem;
}

.last-proyects-container-fluid__figure {
  width: 100%;
}

.last-proyects-container-fluid__figure:hover {
  opacity: .7;
}

.last-proyects-container-fluid__img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.last-proyects-container-fluid-link {
  cursor: pointer;
}

/* Boton */
.container-button {
  display: block;
  margin: 0 auto;
  min-width: 200px;
  background-color: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 8px;
  color: var(--text-color-night);
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(56, 56, 56, 0.9);
}

.container-button a {
  display: inline-block;
  padding: 2rem;
  font-size: 3rem;
}

body.dark .container-button {
  background-color: var(--background-color);
  box-shadow: var(--soft-shadow);
}

.container-button:hover {
  opacity: .8;
}

.button {
  color: var(--text-color-night);
  text-decoration: none;
}

body.dark .button {
  color: var(--text-color);
}

@import '../Media.scss'; 
