.header {
  transition: 0.6s;
  height: 50px;
}

.hero-image__title {
  font-size: 6rem;
}

.hero-image__subtitle {
  font-size: 5rem;
}

body.dark header.sticky {
  background-color: var(--text-color-night);
  color: var(--primary-color);
}

.sticky {
  background-color: var(--secondary-color);
}

.header__menu-ul {
  display: flex;
  flex-flow: row wrap;
}

.header__menu-li {
  transition: all 0.3s ease-in-out;
  margin-right: 5rem;
}

.header__menu-li:hover {
  transform: translateY(-5px);
}

.perfil {
  height: 300px;
  margin: 7rem auto;
}

.perfil__text-me {
  text-align: center;
}

.last-proyects-container {
  display: flex;
  align-items: center;
  height: 1100px;
}

.last-proyects__primary-title {
  margin-top: 5rem;
  padding-top: 7rem;
}

.last-proyects-container-fluid {
  flex: 0 0 40%;
}

.last-proyects-container-fluid__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.flex-order {
  order: 1;
}

.text-right {
  text-align: end;
}

.search-container {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.container-filter {
  margin-bottom: 6rem;
  padding-bottom: 8rem;
}

.notes-blog {
  width: 100%;
  min-width: 320px;
  max-width: var(--container-md);
  margin: 0 auto;
  padding: 5rem 0;
}

.notes-blog > * {
  margin: 2rem;
  padding: 3rem;
  font-size: 3rem;
}

.notes-blog h1 {
  font-size: 7rem;
}

.notes-blog h2 {
  font-size: 6rem;
}

.notes-blog h3 {
  font-size: 5rem
}

.notes-blog p {
  line-height: 5rem;
}

.notes-blog ul {
  width: 100%;
  text-align: start;
  list-style: none;
  padding-left: 9rem;
}

.notes-container__figcaption {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.notes-container__span {
  margin-left: 2rem;
}

.perfil__icons {
  margin-bottom: 3rem;
}

.perfil__icons__figure {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 320px;
}